[versionner]
file = VERSION

[file:setup.py]
enabled = true
match = line
search = \bversion\s*=.*$
replace = version='%(version)s',
encoding = utf-8

[file:README.md]
enabled = true
match = file
search = \nCurrent stable version
    ----------------------
    \s+[\w.-]+\n
replace = \nCurrent stable version
    ----------------------

    %(version)s\n
encoding = utf-8

[file:Dockerfile]
enabled = true
match = line
search = \bpip install mailtrap==\d+\.\d+\.\d+\b
replace = pip install mailtrap==%(version)s
encoding = utf-8

[file:mailtrap/__init__.py]
enabled = true
match = line
search = \__version__ = '[\w.-]+'
replace = __version__ = '%(version)s'
encoding = utf-8
