[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.1.0"
flask-assets = "*"
logbook = "*"
"beautifulsoup4" = "*"
cssmin = "*"
cssprefixer = "*"
cssutils = "*"
gevent-socketio-hartwork = "*"
gevent-websocket = "*"
"html5lib" = "*"
lockfile = "*"
passlib = "*"
pyscss = "*"
python-daemon = "*"
pytz = "*"
werkzeug = ">=0.15.3"
mailtrap = {path = ".",editable = true}
gevent = "*"

[dev-packages]
twine = "*"
wheel = "*"

[requires]
python_version = "3.7"
