[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
aiohttp = "*"
aiohttp-basicauth = "*"
aiohttp-jinja2 = "*"
aiosmtpd = ">=1.2.2"
aiosqlite = "*"
cssmin = "*"
html5lib = "*"
lockfile = "*"
passlib = "*"
pyscss = "*"
python-daemon = "*"
pytz = "*"
structlog = "*"
webassets = "*"

[dev-packages]
versionner = "*"
twine = "*"
wheel = "*"
colorama = "*"
sendria = {editable = true,path = "."}

[requires]
python_version = "3.7"
